@import "tailwindcss";

.hide-scrollbar {
  overflow: auto; /* or overflow-y: scroll for vertical only */
  -ms-overflow-style: none; /* IE and old Edge */
  scrollbar-width: none; /* Firefox */
}

/* WebKit browsers (Chrome, Safari, new Edge) */
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
